/* @import './base.css'; */
@import "tailwindcss";

#app {
  @apply font-sans text-base text-gray-700 bg-clip-text  bg-gradient-to-r from-blue-600 to-purple-500;
}

a,
.green {
  text-decoration: none;
  color: rgb(10, 123, 145);
  transition: 0.4s;
  padding: 3px;
  @apply bg-clip-text bg-gradient-to-r from-cyan-950 to-purple-500;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    display: flex;
    place-items: center;
    @apply bg-linear-to-r from-zinc-950 from-10% via-black via-30% to-cyan-950 to-100%;
  }

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
    
  }
}


.routerLinkTab {
  @apply border-r-2 basis-1/4 hover:underline text-cyan-500;
}

.routerLinkTab.active {
  @apply bg-cyan-50;
}

.gradientText {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-950 to-purple-500 font-semibold;
}